body {
    background-color: #ffffff; 
  }
.calculator {
    width: 200px;
    margin: 50px auto;
    border: 2px solid #000000;
    padding: 10px;
    background: linear-gradient(45deg, #5885ac, #8ec1d6);
  }
  
  .display {
    width: 100%;
    margin-bottom: 10px;
  }
  
  .keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  
  button {
    padding: 10px;
    margin: 5px;
    font-size: 18px;
    background-color: #ebebf7; 
    border: none;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: #ffffff; 
  }
  